@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
    margin: 0px;
    background-color: #f0f2f5;
    cursor: default;
}
.container {
    margin: 0px;
    overflow: hidden;
}

.container_body{
    margin: 0px;
    width: 100%;
    height: 670px;
    display: flex;  
}

.left{
    margin:150px;
}
.container-body-left-up-logo {
    font-family: 'Prompt', sans-serif;
    color: #1877f2;
    font-size: 40px;
    margin: 0px;
    cursor: context-menu;
}
.name{
    color: #3374f5;
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    margin: 0px;
    cursor: context-menu;
}

.subhead{
    font-family: 'Roboto', sans-serif;
    color: #232528;
    font-size: 30px;
    margin: 0px;
}

.caption{
    font-family: 'Roboto', sans-serif;
    color: #85888b;
    margin: 0px;
    font-size: 15px;
}
a{
    text-decoration: none;
}

.images_left{
    display: flex;
}

.card {
    height: 210px;
    width: 160px;
    border: 1px solid #d2d5d6;
    margin: 25px 0px 0px 0px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-right: 15px;
    cursor: pointer;
}

.person_name{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: #3b3c3e;
        font-size: 18px;
        margin: 5px 0px 0px 0px;
}
.person_img{
    width:100%;
    height: 80%;
}


.person_name2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #276bf4;
    font-size: 18px;
    margin: 5px 0px 0px 0px;
}

.right{
    height: 500px;
    width: 300px;
    margin-top:90px;
}

.right_body{
    width: 400px;
    height: 350px;
    background-color: #ffffff;
    margin: 80px 0px 0px 80px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 3px #d9dee2;
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #cfcece;
    font-size: 17px;
    width: 92%;
    box-sizing: border-box;
    border-radius: 5px;
}

#input1 {
    padding: 15px;
    margin: 15px;
}

#input2 {
    padding: 15px;
    margin: 15px 15px 0px 15px;
    margin-top: 0px;
}

input:focus {
    box-shadow: 0 0 3px #719ECE;
    outline: none;
    border: 1px solid #1877f2;
}

#login {
    cursor: pointer;
    padding: 7px;
    margin: 15px;
    width: 92%;
    border-radius: 7px;
    background-color: #1877f2;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    border-color: #1877f2;
}

#login:hover {
    background-color: #1570e6;
}

#frgotpass {
    width: 135px;
    margin-left: 130px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #1976f2;
    text-decoration: none;
    margin-top: 1px;
}

#frgotpass:hover {
    text-decoration: underline;
    cursor: pointer;
}

#hr1{
    width: 90%;
    height: 0.1%;
    margin-top: 25px;
    background-color: #cccccc;
    border: none;
}

#crtnewacc {
    width: 50%;
    padding: 12px;
    margin: 15px 0px 0px 100px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #42b72a;
    border: 1px solid #42b72a;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
}

#crtnewacc:hover {
    background-color: #3ba825;
    cursor: pointer;
}

.container-body-right-down p {
    margin: 30px 0px 0px 130px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.container-body-right-down b {
    color: #000000;
    text-decoration: none;
}

.container-body-right-down b:hover {
    text-decoration: underline;
    cursor: pointer;
}

.right_down p{
    margin: 30px 0px 0px 130px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.right-down b {
    color: #000000;
    text-decoration: none;
}

.right-down b:hover {
    text-decoration: underline;
    cursor: pointer;
}
.nonresponsive {
    display: none;
    width: 100%;
}

.nonresponsive-text {
    font-size: 500%;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    color:#1877f2 ;
}


@media screen and (width>1400px) {
    .container {
        display: none;
    }
    .nonresponsive {
        display: block;
    }
}

@media screen and (width<1200px) {
    .container {
        display: none;
    }
    .nonresponsive {
        display: block;
    }
}